body {
  background: green;
}

span#center {
  font-weight: bolder;
  margin:auto;
  margin-top: -190px;
  margin-bottom: 190px;
  display: block;
  text-align: center;
  z-index: 10;
}

.btn {
  display: block;
  margin: auto;
  align-items: center;
  width: 132px;
}

div#googleMap {
  display: block;
  margin: auto;
  align-items: center;
}
