body {
  background: white;

}
// **********************HEADER

header {
  // border: 1px solid purple;
  display: flex;
  align-items: center;
  height: 200px;
  text-align: center;
  background: #D4FDFF;
  margin-bottom: 3rem;
  div {
    color: #426799;
    h1 {
      font-size: 6rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }
  }
}

.flankLeft {
  padding-left: 5px;
}

// ***********************HINTS

h1, h3 {
  color: #426799;
  text-align: center;
}

#guess label {
  color: #426799;
  text-align: center;
}

.hints {
  border-top: 4px solid #426799;
  border-bottom: 4px solid #426799;
  background: #D4FDFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

span#center {
  font-weight: bolder;
  margin-top: -350px;
  margin-bottom: 350px;
  display: block;
  text-align: center;
  z-index: 10;
}

.hintButton {
  display: block;
  margin: auto;
  align-items: center;
  width: 132px;
}

div#googleMap {
  display: block;
  margin: auto;
  align-items: center;
  width: 40vw;
  min-width: 100%;
  height: 600px;
  margin-bottom: 3rem;
}

#result {
  display: none;
}

#newRound {
  display: none;
  align-items: center;
}

#guess {
  display: none;
}
